{% extends "base.html" %}
{% block title %}Worker List{% endblock %}
{% load staticfiles %}

      {% block body %}
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
              <div class="panel panel-default full-width">

                <div class="panel-heading">
                  スレッド一覧
                </div>

                <div class="panel-body full-width full-height">
                  <table id="worker-list-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline full-width">
                    <tbody>
                      <tr>
                        <th>スレッド名</th>
                        <th>最終更新日</th>
                      </tr>
                    {% for thread in threads %}
                      <tr>
                        <td><a href="/article_list/?thread_id={{thread.id}}&page=1">{{thread.title}}</a></td>
                        <td>{{thread.insymd}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">AddThread</h3>
                        </div>
                        <div class="panel-body">
                          <form role="form" action="/thread_list/" method="post">{% csrf_token %}
                            <fieldset>
                              <div class="form-group">
                                <input class="form-control" placeholder="Title" name="title" value="">
                              </div>
                              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" />
                            </fieldset>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <script>
        $(document).ready(function() {
            $('#worker-list-table').DataTable({
                responsive: true,
                // sort機能の無効化
                ordering: false,
                // ページの表示件数を変更する
                displayLength: 20,
            });
        });
      </script> -->
      {% endblock %}
